.flexbox-container {
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexbox-item1 {
  background: green;
  height: 600px;
  flex: 1.2;
}

.flexbox-item2 {
  background: white;
  height: 600px;
  flex: 2;
}

.top-bar {
  text-align: center;
  background: tomato;
  font-weight: bold;
  font-size: 40px;
  font-family: monospace;
}

.input-field {
  font-size: 20px;
  outline: 0;
  border: none;
  border-bottom: 2px solid grey;
  width: 80%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.content-box {
  margin: 80px;
}

.login-button {
  width: 80%;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  font-family: inherit;
  margin-block: 30px;
}

.redirect-btn {
  text-decoration: underline;
  cursor: grab;
}
